[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mixinsdk = "==0.1.5"
sqlalchemy = "*"
eth-account = "*"
rumpy = "==0.7.4"
protobuf = "*"
bitarray = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
