[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mixinsdk = "*"
sqlalchemy = "*"
eth-account = "*"
rumpy = "==0.7.3"
protobuf = "*"
bitarray = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
